
<div class="project-container" id="infoPane" style="padding-left: 2rem">
  <div class="nav-block">
    <div class="lay-column three" style="min-width: 300px; max-width: 300px">
      <span class="title">gromit</span>
      <span>a lightweight icon font generator</span>
    </div>
  </div>
  <div class="page-content">
    <div class="tabs-block">
      <a class="bold-button fit accent" id="addProjectButton">new project</a>
      <a class="bold-button fit cancel">open project</a>
      <a class="bold-button fit cancel">templates</a>
    </div>

    <hr>
    <br>

    <span class="heading">info</span>

    <div class="info-block">
      <a class="info-link" href="">about</a>
      <a class="info-link" href="">source code (github)</a>
      <a class="info-link" href="">faq / issues</a>
    </div>
  </div>
</div>
