
<div class="project-container" id="infoPane" style="padding-left: 2rem">
  <div class="nav-block">
    <div class="lay-column three" style="min-width: 300px">
      <span class="title">Welcome to Gromit</span>
      <span>A lightweight iconfont generator</span>
    </div>
  </div>
  <div class="page-content">
    <div class="tabs-block">
      <a class="bold-button fit accent" id="addProjectButton">New Project<i class="icon-add" style="margin-left: 0.25rem; font-size: 1.5rem;"></i></a>
      <a class="bold-button fit cancel">Import Existing Project</a>
      <a class="bold-button fit cancel">Project Templates</a>
    </div>

    <hr>

    <span class="heading">INFO</span>
    Gromit is an open source iconfont generator. I made it because I wanted a more straightforward way to generate iconfonts for use in web applications.

    <span class="heading">LINKS</span>
    <div class="info-block">
      <a class="info-link" href=""><i class="icon-redirect" style="margin-right: 0.25rem; font-size: 1.5rem;"></i><span>About</span></a>
      <a class="info-link" href=""><i class="icon-github-mark" style="margin-right: 0.25rem; font-size: 1.5rem;"></i><span>Source Code (GitHub)</span></a>
    </div>
  </div>
</div>
