
<div class="project-container">
  <div class="nav-block">
    <span class="title">a project</span>
    <span class="subheading">ver 0.0.1</span>
  </div>
  <div class="nav-content">
    <div class="tabs-block">
      <a class="bold-button fit accent">glyphs</a>
      <a class="bold-button fit cancel">playground</a>
      <a class="bold-button fit cancel">export</a>
    </div>

    <hr>

    <span class="heading">a project > glyphs</span>

    <div class="button-tray">
      <a class="bold-button fit accent">add glyph</a>
      <a class="bold-button fit cancel">import existing</a>
    </div>

    <div class="container">
      <span>no projects open</span>
    </div>
  </div>
</div>
