<div class="sidebar">
  <div class="nav-block">
    <span class="title">grom</span>
    <span class="subheading">ver 0.0.1</span>
  </div>
  <div class="nav-content">
    <span class="heading">projects</span>
    <input class="search" placeholder="search your projects" type="text"></input>

    <div class="container">
      <a class="bold-button">new project</a>
      <a class="bold-button">open existing project</a>
      <a class="bold-button">templates</a>
    </div>

    <span class="heading">current projects</span>

    <div class="container">
      <span>no projects open</span>
    </div>
  </div>
</div>
