<div class="sidebar">
  <div class="nav-block padded-container">
    <a class="title selectable" href="#" onclick="closeProjects()"><i class="icon-grom1" style="margin-right: 0.5rem; font-size: 2rem;"></i>Gromit</a>
    <span class="subheading">ver. 0.0.1</span>
  </div>
  <div class="nav-content">
    <div class="container padded-container">
      <span class="heading">PROJECTS</span>
      <input class="text-box" placeholder="Search projects" type="text">
    </div>

    <div class="sidebar-project-container" id="projectList"></div>
  </div>
</div>

<script>
  function closeProjects() {
    document.getElementById("infoPane").style.display = "block";
    document.getElementById("projectPane").style.display = "none";

    let projects = document.getElementsByClassName("project-wrapper");
    Array.from(projects).forEach(project => {
      project.classList.remove("selected");
    });
  }
</script>
