<div class="sidebar">
  <div class="nav-block padded-container">
    <span class="title">gromit</span>
    <span class="subheading">ver 0.0.1</span>
  </div>
  <div class="nav-content">
    <div class="container padded-container">
      <span class="heading">projects</span>
      <input class="search" placeholder="search your projects" type="text">

<!--      <div class="container">-->
<!--        <a class="bold-button accent">new project</a>-->
<!--        <a class="bold-button cancel">open existing project</a>-->
<!--        <a class="bold-button cancel">templates</a>-->
<!--      </div>-->
    </div>

<!--    <div class="container padded-container">-->
<!--      <span class="heading">current projects</span>-->
<!--    </div>-->

    <div class="sidebar-project-container">
      <div class="project-wrapper">
        <span class="project-name project-content" onclick="toggleProject(this)">Project 1</span>
        <div class="package">
          <div class="item project-item">Item 1</div>
          <div class="item project-item">Item 2</div>
        </div>
      </div>
      <div class="project-wrapper">
        <span class="project-name project-content" onclick="toggleProject(this)">Project 1</span>
        <div class="package">
          <div class="item project-item">Item 1</div>
          <div class="item project-item">Item 2</div>
          <div class="item project-item">Item 4</div>
          <div class="item project-item">Item 2</div>
          <div class="item project-item">Item 1</div>
          <div class="item project-item">Item 2</div>
          <div class="item project-item">Item 1</div>
          <div class="item project-item">Item 2</div>
        </div>
      </div>
      <div class="project-wrapper">
        <span class="project-name project-content" onclick="toggleProject(this)">Project 1</span>
        <div class="package">
          <div class="item project-item">Item 1</div>
          <div class="item project-item">Item 2</div>
        </div>
      </div>
    </div>

    <script src="../../public/js/project-dropdown-control.js"></script>
  </div>
</div>
