
.project-container {
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    padding: 1rem;
    min-width: 250px;
    background-color: #ffffff;

}

.page-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}


.tabs-block {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 7px;
}

.button-tray {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 1rem;
}

.tab-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

/* Project on sidebar */
.sidebar-project-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Hides horizontal scrolling */
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    user-select: none;
    flex-grow: 1
}

.package {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    position: relative;
}

.package::before {
    content: "";
    display: block;
    position: absolute;
    left: 1.75rem;
    height: 100%;
    width: 1px;
    top: -0.75rem;
    background-color: var(--colour-ui-backer-dark);
    z-index: 1;
}

.project-content,
.project-item {
    position: relative;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    cursor: pointer;
    width: 100%;
}

.project-item {
    padding-left: 5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -2rem center;
    background-origin: content-box;
}

.project-content:hover,
.project-item:hover {
    background-color: var(--colour-ui-backer-medium);
}

.project-wrapper.selected > .project-content {
    background-color: var(--colour-ui-backer-border);
}

.project-content::before {
    position: absolute;
    left: 1.5rem;
    content: "›";
    display: inline;
    color: var(--colour-ui-backer-dark);
}

.project-content.active::before {
    position: absolute;
    left: 1.5rem;
    content: "o";
    display: inline;
    color: var(--colour-ui-backer-dark);
}

@media (max-width: 600px) {
    .tabs-block {
        flex-direction: column;
    }

    .bold-button.fit {
        width: 100%;
    }
}

.icon-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.icon {
    width: 4rem;
    height: 4rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.icon:hover {
    background-color: var(--colour-interaction-accent-backer);
    cursor: pointer;
}