<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/page'); %>
</head>
<body>
  
<div class="page">
  <div class="layout">
    <div class="lay-column three" style="min-width: 250px; max-width: 250px">
      <%- include('../partials/sidebar'); %>
    </div>
    <div class="lay-column seven">
      <%- include('../partials/project-container'); %>
    </div>
  </div>
</div>

</body>
</html>